@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

$fontPoppins: 'Poppins', sans-serif;

$mainColor: white;
$secondColor: purple; 
$thirdColor: #1c1c1c;